.scrollable_div {
   
    height: 100%;
    width: 100%;
    margin-top: 4rem;
    /* overflow: auto;
  
    text-align: justify; */
  
    
  }

  .row_style{
    
    height: 40rem;
   
    padding-left: 4%;

  }

  @media screen and (max-width: 900px) {
    
  .row_style{
    
    height: 80rem;
    
    padding-left: 4%;

  }
  }

  @media screen and (max-width: 400px) {
    
    .row_style{
      
      height: 160rem;
      
      padding-left: 4%;
  
    }
    }
  .badge{
    width: 10%;
    height: 6%;
    padding-top: 10px;
    margin-left: 1rem;
    margin-top: 1rem;

    border-radius: 100%;
    background-color: rgb(28, 28, 25);
    border: 1px solid whitesmoke;

  }
  /* Complete post styling starts from here */

  .container{
    height: 42rem;
    width: 60%;
    margin: 0 auto;
    background-color: rgb(240, 240, 240);
    overflow: hidden;
    text-align: justify;
    border-radius: 20px;
    box-shadow: -2px 3px 10px -3px rgba(0,0,0,0.49);
    -webkit-box-shadow: -2px 3px 10px -3px rgba(0,0,0,0.49);
    -moz-box-shadow: -2px 3px 10px -3px rgba(0,0,0,0.49);
    margin-top: 1rem;
  }

  .container:hover{
    overflow: auto;
  }
    .header{
      height: 40%;
      width: 100%;
     
    }

    
  .start_head {
    height: 10%;
    width: 100%;
    margin-top: 1rem;
   
  }
  .image_content {
    height: 80%;
    width: 40%; 
    margin: 0 auto;
    object-fit: cover;
  }


  .body{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
  
  }

  .body p{
    text-align: justify;
  
  }
  .body h3{
    text-align: center;
    margin-top: 20px;
    font-weight:800;
    position: sticky;
    top: 0px;
    background-color:rgb(240, 240, 240);
    border-bottom: 1px solid gray ;
   

  }
 
  .close_icon{
    height: 100%;
    width: 3%;
    background-color: rgb(183, 9, 0);
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    font-weight: 600;
    color: white;

  }
  .close_icon:hover{
    background-color: rgb(177, 173, 173);
    color: rgb(183, 9, 0);
    cursor: pointer;

  }
  
  .category{
    height: 100%;
    width: 95%;
    display: inline-block;
    color: #8d8d8d;
    font-weight: lighter;
  }


  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(164, 164, 164); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0084ff; 
  }