.scrollable_div {
   
    height: 100%;
    width: 100%;
    margin-top: 4rem;
    /* overflow: auto;
  
    text-align: justify; */
  
    
  }

  .row_style{
    
    height: 40rem;
   
    padding-left: 4%;

  }

  @media screen and (max-width: 900px) {
    
  .row_style{
    
    height: 80rem;
    
    padding-left: 4%;

  }
  }

  @media screen and (max-width: 400px) {
    
    .row_style{
      
      height: 160rem;
      
      padding-left: 4%;
  
    }
    }
  .badge{
    width: 10%;
    height: 6%;
    padding-top: 10px;
    margin-left: 1rem;
    margin-top: 1rem;

    border-radius: 100%;
    background-color: rgb(28, 28, 25);
    border: 1px solid whitesmoke;

  }